.swiper-button-prev {
  color: #ffba08;
}

.swiper-button-next {
  color: #ffba08;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet-active {
  background-color: #ffba08;
  height: 12px;
  width: 12px;
}
